* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #0C2D48;
}

img {
  width: 100%;
}

h1 {
  color: black;
  margin-left: 20px;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
  color: #05445E;
  text-decoration: none;
  /* No underlining */
}

a:hover,
a:focus {
  color: #003453;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: #59FBDA;
}

a:active {
  /* selected link */
  color: #0068B8;
}

.button1:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button1.contact {
  background-color: transparent;
  color: #4fc3f7;
  text-transform: uppercase;
  border: 2px solid #8bf6ff;
}

.button1.contact:hover {
  background-color: #4fc3f7;
  color: #ffffff;
}

.button1 {
  display: inline-block;
  background-color: #0068B8;
  color: #D4F1F4;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #D4F1F4;
  transition: 0.2s opacity;
}

.button2:hover {
  opacity: 0.8;
}

.button2.contact {
  background-color: transparent;
  color: #FA8072;
  text-transform: uppercase;
  border: 2px solid #663399;
}

.button2.contact:hover {
  background-color: #663399;
  color: #ffffff;
}

.button2 {
  display: inline-block;
  background-color: #05445E;
  color: #D4F1F4;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #663399;
  transition: 0.2s opacity;
}

.button3:hover {
  opacity: 0.8;
}

.button3.contact {
  background-color: transparent;
  color: #4fc3f7;
  text-transform: uppercase;
  border: 2px solid #e1f5fe;
}

.button3.contact:hover {
  background-color: #663399;
  color: #ffffff;
}

.button3 {
  display: inline-block;
  background-color: #4fc3f7;
  color: #e1f5fe;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #e1f5fe;
  transition: 0.2s opacity;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* :::::::::::::::::::::::::::: header */
.logo {
  max-width: 200px;
  text-align: center;
}

header {
  background-color: #B1D4E0;
  text-align: center;
  padding: 10px 0;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  border-bottom: 3px solid #4a4a4a;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  position: relative;
}

nav>ul {
  margin-left: 0;
  padding-left: 0;
}

nav>ul>li {
  list-style-type: none;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #F7EBFF;
  display: inline-block;
}

nav>ul>li>a:hover,
a:focus {
  color: #00B3D7;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

nav>ul>li>a:visited {
  /* visited link */
  color: #ffffff;
}

nav>ul>li>a:active {
  /* selected link */
  color: #0068B8;
}

/* :::::::::::::::::::::::::::: Footer */
footer {
  text-align: center;
}

footer .email {
  margin-bottom: 20px;
}

/* :::::::::::::::::::::::::::: Hero */
#hero {
  background-color: #D9E4EC;
  text-align: center;
  padding-bottom: 20px;
}

#hero h1 {
  padding: 20px 0;
  display: block;
  width: 100%;
  margin: 0;
  /* Centers text */
}

/* :::::::::::::::::::::::::::: WORK */
#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#work h2 {
  text-align: center;
  /* Centers text */
}

#work img {
  max-width: 250px;
  margin: 0 auto;
  display: block;
}
#work svg {
  max-width: 400px;
  margin: 0 auto;
  display: block;
}

/* For medium screen: */
@media screen and (min-width:640px) {
  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  [class*="col-"] {
    float: left;
    padding: 10px 0;
  }

  #about-page h3 {
    margin-top: 0;
  }

  /*For large screen */
  @media screen and (min-width:1024px) {}

  @media only screen and (min-width: 1440px) {}

  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 91.66%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  @keyframes color-change {
    from {
      fill: #edc655;
    }

    to {
      fill: #f76414;
    }
  }

  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }
  .cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
