* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #0C2D48;
}

img {
  width: 100%;
}

h1 {
  color: black;
  margin-left: 20px;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
  color: #05445E;
  text-decoration: none;
  /* No underlining */
}

a:hover,
a:focus {
  color: #003453;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #0068B8;
}

.button1:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button1.contact {
  background-color: transparent;
  color: #4fc3f7;
  text-transform: uppercase;
  border: 2px solid #8bf6ff;
}

.button1.contact:hover {
  background-color: #4fc3f7;
  color: #ffffff;
}

.button1 {
  display: inline-block;
  background-color: #FEE2BC;
  color: #7E81AC;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #D4F1F4;
  transition: 0.2s opacity;
}

.button2:hover {
  opacity: 0.8;
}

.button2.contact {
  background-color: transparent;
  color: #FA8072;
  text-transform: uppercase;
  border: 2px solid #663399;
}

.button2.contact:hover {
  background-color: #663399;
  color: #ffffff;
}

.button2 {
  display: inline-block;
  background-color: #05445E;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #663399;
  transition: 0.2s opacity;
}

.button3:hover {
  opacity: 0.8;
}

.button3.contact {
  background-color: transparent;
  color: #B1D4E0;
  text-transform: uppercase;
  border: 2px solid #2F4858;
}

.button3.contact:hover {
  background-color: #663399;
  color: #ffffff;
}

.button3 {
  display: inline-block;
  background-color: #B1D4E0;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #2F4858;
  transition: 0.2s opacity;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* :::::::::::::::::::::::::::: header */
.logo {
  max-width: 150px;
text-align: center;
}

.flourish {
  max-width: 400px;
  text-align: center;
}

header {
  background-color: #000000;
  padding: 10px 0;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  border-bottom: 3px solid #4a4a4a;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  position: relative;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 25px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 0;
  border-top: 0;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
  margin-left: 0;
  padding-left: 0;
}

nav>ul>li {
  list-style-type: none;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

nav>ul>li>a:hover,
a:focus {
  color: #00B3D7;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

/* :::::::::::::::::::::::::::: Footer */
footer {
  text-align: center;
}

footer .email {
  margin-bottom: 20px;
}

/* :::::::::::::::::::::::::::: Hero */
#hero {
  background-color: #A9ADC8;
  text-align: center;
  padding-bottom: 20px;
}

#hero h1 {
  padding: 20px 0;
  display: block;
  width: 100%;
  margin: 0;
  /* Centers text */
}

/* :::::::::::::::::::::::::::: WORK */
#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#work h2 {
  text-align: center;
  /* Centers text */
}

#work img {
  max-width: 250px;
  margin: 0 auto;
  display: block;
}

#work svg {
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

/* For medium screen: */
@media screen and (min-width:640px) {
  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
}
    nav {
      width: auto;
      float: right;
      margin-top: 4px;
    }

    [class*="col-"] {
      float: left;
      padding: 10px 0;
    }

    #about-page h3 {
      margin-top: 0;
    }

    @keyframes cloud-move-reverse {
      from {
        transform: translate(446px, 48px);
      }

      to {
        transform: translate(100px, 48px);
      }
    }

    .cloud1 {
      animation: 7s cloud-move-reverse infinite alternate linear;
    }

    .cloud2 {
      animation: 7s cloud-move-reverse infinite alternate linear;
    }

    .tree {
      animation: 4s color-change infinite alternate linear;
    }

    @keyframes color-change {
      0% {
        fill: #1d341a;
      }

      50% {
        fill: #56994d;
      }

      100% {
        fill: #b38600;
      }
